CXL_IP_conf:
 .*:
    add:
      file:
        - /nfs/site/disks/zsc14.xne_cnic.emu-fpga.002/kumarlok/david_ex_design/ethernet_david_ex/example_probe_clk_125/hdl/registers_phy/phy_regbank.sv 
        - ${RED_HOME}/partitioner/hdl/red_vip/vapb/RED_VAPB_V2.sv 
        - /nfs/site/disks/cnic.mod.001/release/nac_ss/nac_ss-cnic-a0-master-25ww21c/subip/sip/nss_gen_por/src/gen_por/src/map/ecip_gen_ctech_lib_map.sv 
        - /nfs/site/disks/cnic.mod.001/release/nac_ss/nac_ss-cnic-a0-master-25ww21c/subip/sip/nss_gen_por/src/gen_por/src/syncs/ecip_gen_sync_cell.v 
        - /nfs/site/disks/cnic.mod.001/release/nac_ss/nac_ss-cnic-a0-master-25ww21c/subip/sip/nss_gen_por/src/gen_por/src/syncs/ecip_gen_sync_sig_v3.sv 
        - /nfs/site/disks/cnic.mod.001/release/nac_ss/nac_ss-cnic-a0-master-25ww21c/subip/sip/hif/src/hif/rtl/hif_pcie_ss/hif_ecip_gen_pn_sync_cell.sv

      vlog_opts:
        #- +incdir+/nfs/site/disks/zsc14.xne_cnic.emu-fpga.002/kumarlok/david_ex_design/ethernet_david_ex/example_probe_clk_125/hdl/registers_phy
        - +define+CXP_RTL_GLOBAL_MACROS_SV_INCLUDED
        - +define+HIF_NOCSS_HIF_NOCSS_MC_BEHAVE_MEMS
        - +define+ATE_AT_BEHAVE_MEMS
        - +define+BSR_BSS_BEHAVE_MEMS
        - +define+BSR_PR_BEHAVE_MEMS
        - +define+CXP_CPS_BEHAVE_MEMS
        - +define+CXP_MTX_BEHAVE_MEMS
        - +define+CXP_WCM_BEHAVE_MEMS
        - +define+FXP_FXP_CNT_GEN2_BEHAVE_MEMS
        - +define+FXP_FXP_CSE_LEM_BEHAVE_MEMS
        - +define+FXP_FXP_CSE_LPM_BEHAVE_MEMS
        - +define+FXP_FXP_CSE_MOD_BEHAVE_MEMS
        - +define+FXP_FXP_CSE_SEM_BEHAVE_MEMS
        - +define+FXP_FXP_CXP_CSE_LEM_BEHAVE_MEMS
        - +define+FXP_FXP_CXP_LEM_BEHAVE_MEMS
        - +define+FXP_FXP_CXP_PAR_NON_ANA_BEHAVE_MEMS
        - +define+FXP_FXP_CXP_PMC_BEHAVE_MEMS
        - +define+FXP_FXP_EVMIN_BEHAVE_MEMS
        - +define+FXP_FXP_EVMOUT_BEHAVE_MEMS
        - +define+FXP_FXP_HASH_BEHAVE_MEMS
        - +define+FXP_FXP_LEM_BEHAVE_MEMS
        - +define+FXP_FXP_LPM_BEHAVE_MEMS
        - +define+FXP_FXP_MOD_PROC1_1_BEHAVE_MEMS
        - +define+FXP_FXP_MOD_PROC1_BEHAVE_MEMS
        - +define+FXP_FXP_MOD_PROC2_BEHAVE_MEMS
        - +define+FXP_FXP_MOD_UPDATE2_BEHAVE_MEMS
        - +define+FXP_FXP_PAR_NON_ANA_BEHAVE_MEMS
        - +define+FXP_FXP_PMC_BEHAVE_MEMS
        - +define+FXP_FXP_POL_BEHAVE_MEMS
        - +define+FXP_FXP_SEM_ACT_BEHAVE_MEMS
        - +define+FXP_FXP_SEM_LUE_BEHAVE_MEMS
        - +define+FXP_FXP_SEM_MNGDP_BEHAVE_MEMS
        - +define+FXP_FXP_WCM_GRP_BEHAVE_MEMS
        - +define+FXP_FXP_WCM_RC_BEHAVE_MEMS
        - +define+FXP_FXP_WLPG_BEHAVE_MEMS
        - +define+HIF_NOCSS_HIF_NOCSS_FABRIC_INTF_SL_BEHAVE_MEMS
        - +define+HIF_NOCSS_HIF_NOCSS_FABRIC_INTF_SR_BEHAVE_MEMS
        - +define+HIF_NOCSS_HIF_NOCSS_SHATI_BEHAVE_MEMS
        - +define+HIF_NOCSS_HIF_NOCSS_SL_PEATI_BEHAVE_MEMS
        - +define+HIF_NOCSS_HIF_NOCSS_SR_PEATI_BEHAVE_MEMS
        - +define+HIF_PCIE_CMI0_ETP_BEHAVE_MEMS
        - +define+HIF_PCIE_CMI1_ETP_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_CMI_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_CMI_MASTER_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_CMI_RC_ACC_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_CMI_RC_NSS_SHIM_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_CSR_DECODER_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_ETP_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_ITP_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_MSIX_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_SS_DWC_CTLX16_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_SS_DWC_CTLX2_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_SS_DWC_CTLX4_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_SS_DWC_CTLX8_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_SS_DWC_PHY_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_UPP_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_UPP_SHIM_BEHAVE_MEMS
        - +define+HIF_PCIE_PCIE_UPP_SHIM_X16_BEHAVE_MEMS
        - +define+ICM_ICM_EG_DISPRESP_BEHAVE_MEMS
        - +define+ICM_ICM_EG_IN_PKT_BEHAVE_MEMS
        - +define+ICM_ICM_EG_IN_PMD_BEHAVE_MEMS
        - +define+ICM_ICM_EG_L0_BEHAVE_MEMS
        - +define+ICM_ICM_EG_OUT_PMD_BEHAVE_MEMS
        - +define+ICM_ICM_EG_PROCTILE_BEHAVE_MEMS
        - +define+ICM_ICM_FPC_BEHAVE_MEMS
        - +define+ICM_ICM_ING_DISPRESP_BEHAVE_MEMS
        - +define+ICM_ICM_ING_IN_PKT_BEHAVE_MEMS
        - +define+ICM_ICM_ING_IN_PMD_BEHAVE_MEMS
        - +define+ICM_ICM_ING_L0_BEHAVE_MEMS
        - +define+ICM_ICM_ING_OUT_PMD_BEHAVE_MEMS
        - +define+ICM_ICM_ING_PROCTILE_BEHAVE_MEMS
        - +define+ICM_ICM_SA_MAN_BEHAVE_MEMS
        - +define+LANPE_EFCU_BEHAVE_MEMS
        - +define+LANPE_ITR_BEHAVE_MEMS
        - +define+LANPE_LAT_BEHAVE_MEMS
        - +define+LANPE_MIOR_BEHAVE_MEMS
        - +define+LANPE_PQM_BEHAVE_MEMS
        - +define+LANPE_RLAN_BEHAVE_MEMS
        - +define+LANPE_RPS_BEHAVE_MEMS
        - +define+LANPE_RSC_BEHAVE_MEMS
        - +define+LANPE_STAT_BEHAVE_MEMS
        - +define+LANPE_TCLAN_BEHAVE_MEMS
        - +define+LANPE_TCVMLR_BEHAVE_MEMS
        - +define+LANPE_TXDMA_BEHAVE_MEMS
        - +define+LANPE_VMRL_BEHAVE_MEMS
        - +define+LANPE_WSB_BEHAVE_MEMS
        - +define+PEIP_AMP_BEHAVE_MEMS
        - +define+PEIP_BRX_BEHAVE_MEMS
        - +define+PEIP_CMPE_BEHAVE_MEMS
        - +define+PEIP_CPUW_BEHAVE_MEMS
        - +define+PEIP_CQM_BEHAVE_MEMS
        - +define+PEIP_CQTOC_BEHAVE_MEMS
        - +define+PEIP_CRX_BEHAVE_MEMS
        - +define+PEIP_DBL_BEHAVE_MEMS
        - +define+PEIP_DRX_BEHAVE_MEMS
        - +define+PEIP_DTM_BEHAVE_MEMS
        - +define+PEIP_FLM_BEHAVE_MEMS
        - +define+PEIP_FLOC_BEHAVE_MEMS
        - +define+PEIP_MSOC_BEHAVE_MEMS
        - +define+PEIP_PAL_BEHAVE_MEMS
        - +define+PEIP_PBLOC_BEHAVE_MEMS
        - +define+PEIP_PDOC_BEHAVE_MEMS
        - +define+PEIP_PEOC_BEHAVE_MEMS
        - +define+PEIP_PEPM_BEHAVE_MEMS
        - +define+PEIP_PMAT_BEHAVE_MEMS
        - +define+PEIP_PRX_BEHAVE_MEMS
        - +define+PEIP_PTXI_BEHAVE_MEMS
        - +define+PEIP_PTX_BEHAVE_MEMS
        - +define+PEIP_RHI_BEHAVE_MEMS
        - +define+PEIP_RLC_BEHAVE_MEMS
        - +define+PEIP_SFPR_BEHAVE_MEMS
        - +define+PEIP_SFPT_BEHAVE_MEMS
        - +define+PEIP_SQCE_BEHAVE_MEMS
        - +define+PEIP_SQC_BEHAVE_MEMS
        - +define+PEIP_SRQ_BEHAVE_MEMS
        - +define+PEIP_STATS_BEHAVE_MEMS
        - +define+PEIP_TMR_BEHAVE_MEMS
        - +define+PEIP_TSCD_BEHAVE_MEMS
        - +define+PEIP_WRX_BEHAVE_MEMS
        - +define+PEIP_WTX_BEHAVE_MEMS
        - +define+SEP_CORE_CUST1_BEHAVE_MEMS
        - +define+SEP_CORE_CUST2_BEHAVE_MEMS
        - +define+SEP_CORE_CUST3_BEHAVE_MEMS
        - +define+SEP_CPU_BEHAVE_MEMS
        - +define+TS_TS0_BEHAVE_MEMS
        - +define+TS_TS1_BEHAVE_MEMS
        - +define+TS_TS2_BEHAVE_MEMS
        - +define+FXP_CXP_CSE_OR_NEGEDGE_RST_N
        - +define+HIF_PCIE_SS_SYNTHESIS
        - +define+BEHAVE_MEM
        - +define+MGM_EMU_FPGA
        - +define+FPGA
        - +define+CPM_NOFLOPDELAY
        - +define+INTEL_SVA_OFF
        - +define+SVA_OFF
        - +define+OVL_SYNTHESIS_OFF
        - +define+INTEL_EMULATION
        - +define+EMULATION
        - +define+INTC_MEM_COV_OFF
        - +define+NOFLOPDELAY
        - +define+VISA_OFF
        - +define+INTEL_FPGA
        - +define+TRANSACTORS_PATH=fpga_transactors_top_inst
        - +define+EMULATION_EBB
        - +define+EMULATION_NO_GPIO_GMT
        - +define+IGNORE_VERILOG_BLACKBOX_GUTS
        - +define+MEM_CTECH
        - +define+NO_CLK_BUF
        - +define+UHFI_S10_BUILD
        - +define+USE_UHFI_FIFO_MODEL
        - +define+USE_UHFI_RTL_MEMORY_MODEL
        - +define+SPARK_FPGA
        - +define+VPS
        - +define+REMOVE_TRK_ALL
        - +define+UPF_REMOVE_TRK
        - +define+JEM_REMOVE
        - +define+ALTERA_BOARD
        - +define+FPGA_SYNTH
        - +define+IGNORE_FOR_INFER
        - +define+SNPS_PMD_HIP_INTERFACE
        - +define+SYNTHESIS
        - +define+FPGA_MEM
    replace:
      file:
        - $WORKAREA/src/rtl/top_pcs_sgmii_refck_host_xlgmii_10b.v
        - $WORKAREA/src/rtl/pcs_sgmii_usxgmii_top_wrap.v
        - $WORKAREA/src/rtl/top_rx36_eee.v
        - $WORKAREA/src/rtl/top_tx36_eee.v
        - $WORKAREA/src/rtl/sgpcs_mdio_np_reg.v
        #- $WORKAREA/src/rtl/
        #- $WORKAREA/overrides/hip/dwc_112g_lrm_phy_pma_ns_cm_serdes_top_gtech.v
        #- $WORKAREA/src/rtl/dist6_uxquad0.vs
        #prepend:
        #vlog_opts:
    remove:
      file:
        - .*/fsdb_utils/.*
        - .*ux4_x1_pipe_ns_fc_apma_comparator_filter_diff_AMOD.sv
        - /nfs/site/disks/cnic.mod.001/release/physs_bbl/physs_bbl-cnic-master-25ww37c/subip/hip/brkxmp_ns_1lane_pma/.*
       # - .*dwc_112g_lrm_phy_pma_ns_cm_serdes_top_gtech.v
        #- .*dwc_pcie5_phy_x4_ns.v
      vlog_opts:
        - +define+FAST_FUNC_MEM
        - +define+VCSSIM_ONLY
        - +define+FXP_CXP_CSE_USE_ASYNC_RESET
        - +define+FXP_CXP_CSE_OR_NEGEDGE_RST_N
        - +define+INTEL_SIMONLY
        - +define+INTEL_NO_PWR_PINS
        - +define+NO_PWR_PINS
        - +define+STF_HUB_MOD_TRK
        - +define+STF_EP_MOD_TRK
        - -sverilog
        - -verilog
        - -verilog_std sys
        - -verilog_std sysv
        - -lca
        - -debug_all
        - +v2k
        - +verilog2001ext+.vh+.def+.h
        - +librescan
        - +warn=all
        - -error=CHCPR
        - -error=ECMDSMPD2
        - -error=FLVU
        - -error=IPDASP
        - -error=IPDW
        - -error=IRIID-W
        - -error=NMIN
        - -error=OSPA-O
        - -error=PII
        - -error=RIV
        - -error=SV-IIS
        - -notice
