# See file spec at .....
# Template file for reference: $(DVB_ROOT)/template/common/model.cfg.template


global:
    project: MMG_PSS
    top_ip_name: physs_eth
    top_module_name: physs_eth
    analysis_opts_string: -mfcu -sv +define+INTEL_FPGA -all_file_cunit_scope -sv31acompat -vcs_compat  +librescan 
    analysis_vhdl_opts_string: -comment_transoff_regions 
    elab_opts_string: -libmap_verbose -config_verbose -ignore driver_checks -kdb=postelab fw_lib.dumpvars -error=noZEMI-LENCW



models:
    MMG_NSS_SOC:
        change_cfg: change.cfg
        change_cfg_conf: 
        top_module_names:
            - mmg_nss_lib.physs_wrap
        flatten_val_library_list: 1
        analysis_opts_string:  -mfcu -sv +define+INTEL_FPGA +libext+.sv+.v+.vs+.vh -all_file_cunit_scope -sv31acompat -vcs_compat +librescan
        analysis_vhdl_opts_string: -comment_transoff_regions 
        elab_opts_string: -libmap_verbose -config_verbose -ignore driver_checks -kdb=postelab fw_lib.dumpvars -error=noZEMI-LENCW
        additional_rtl_jsons: 
            - /nfs/site/disks/nhdk.zsc7.mmg.ipr.021/nss/nss-mmg-a0-24ww47b-drop.0/output/nss/genfilelist/json/nss_sim_filelist.json
            #- /nfs/site/disks/dmrd.mod.004/release/mci_physs/mci_physs-nex18a-24ww33g/output/physs/genfilelist/json/physs_sim_filelist.json
          # - /nfs/site/disks/zsc14.xne_mki.fpga.001/pdewanga/gnrd_2/verif/fpga/nss_sim_filelist.json
           # - /nfs/site/disks/dmrd.mod.000/linktree/release/mci_mgv_nss/mci_mgv_nss-nex18a-24ww20c/output/nss/genfilelist/json/nss_sim_filelist.json 
        #  - /nfs/site/disks/dmrd.mod.000/linktree/release/mci_mgv_nss/mci_mgv_nss-nex18a-24ww20c/output/nss/genfilelist/json/nss_sim_filelist.json 
        #- /nfs/site/disks/gnrd.mod.000/models/gnrd_nac/gnrd_nac-gnrd-b0-latest/output/gnrd_nac/genfile/json/gnrd_nac_sim_filelist.json
        # - /nfs/site/disks/gnrd.mod.004/models/gnrd_soc/gnrd_soc-gnrd-b0-24ww14b/output/gnrdio/genfile/json/gnrdio_sim_filelist.json 
        # - /nfs/site/disks/zsc14.xne_mki.fpga.001/pdewanga/gnrd/gnrd_2xnac_top_sim_filelist.json 
        #- /nfs/site/disks/gnrd.mod.004/models/gnrd_soc/gnrd_soc-gnrd-a0-val_0p3-21ww39d/output/gnrdio/genfile/json/gnrdio_sim_filelist.json 
        #- /nfs/site/disks/zsc14.xne_mki.fpga.001/pdewanga/gnrd/verif/fpga/gnrd_nac_sim_filelist.json
    MMG_PSS_SOC:
        change_cfg: change.cfg
        change_cfg_conf: CXL_IP_conf 
        top_module_names:
            - physs_lib_10m.physs_eth
        flatten_val_library_list: 1
        analysis_opts_string:  -mfcu -sv +define+INTEL_FPGA +libext+.sv+.v+.vs+.vh -all_file_cunit_scope -sv31acompat -vcs_compat +librescan
        analysis_vhdl_opts_string: -comment_transoff_regions 
        elab_opts_string: -libmap_verbose -config_verbose -ignore driver_checks -kdb=postelab fw_lib.dumpvars -error=noZEMI-LENCW
        additional_rtl_jsons: 
            -  /nfs/site/disks/cnic.mod.001/release/physs_bbl/physs_bbl-cnic-master-25ww37c/output/physs/genfilelist/json/physs_sim_filelist.json 
            #-  /nfs/site/disks/cnic.mod.001/release/physs_bbl/physs_bbl-cnic-cnic_EV2_dft-25ww12b/output/physs/genfilelist/json/physs_sim_filelist.json 
           # - /nfs/site/disks/cnic.mod.001/release/nac_ss/nac_ss-cnic-a0-master-25ww21c/output/nac_ss/genfilelist/json/nac_ss_sim_filelist.json  
