#-------------------------------------------------------------------------------
# RTLC settings
#-------------------------------------------------------------------------------
#veanalyze -distributed_analysis
veanalyze -vcs_compat
veanalyze -sv

#Specifies that all files on a compilation command line make a single compilation unit where the declarations in those files are accessible everywhere else within the constructs defined in those files
veanalyze -mfcu
veanalyze -database_opt
rtlc -allow_GSD

# Optional. Allows 4-state (X/A) reads 
rtlc -allow_4ST

#added for GT core
rtlc -allow_FRN
#
#jmoctezu (17-April): recommended by Jayaram
#rtlc -allow_ZIM
rtlc -allow_ISL
rtlc -allow_MDR
#IVM - Initial Value Mismatch
rtlc -allow_IVM
#rtlc -allow_mdr_on_reg
#jmoctezu (21-April): recommended by Jayaram
#rtlc -allow_ZIM_for_mod gpio_buffers_lib_PANALOG_18_18_NT_IM_H
#rtlc -allow_ZIM_for_mod gpio_buffers_lib_PANALOG_18_18_FS_IM_H
#rtlc -allow_ISL_for_mod gtx_ip_rtl_lib_gtx_desc2iosf_lib.i2d_data_aligner_64bit
#rtlc -allow_ISL_for_mod fpga_rtl_lib.fpga_car
#rtlc -allow_MDR_for_mod fpga_rtl_lib.PMC2CPU_PACKET_CTL

rtlc -suppress RTLC-1073
#jmoctezu add:
#rtlc -suppress RTLC-8646
#rtlc -suppress RTLC-6336
rtlc -suppress RTLC-1688

#added to suppress Connection type is incompatible with port ( c2ab_err_type ) for instance ( enc_slice_handler )
rtlc -suppress RTLC-10187

#JA 05-13-20
rtlc -flatten_mod uhfi_fifo_ram 
rtlc -flatten_mod uhfi_fifo_top 

# Enable optimization for a longer path
comp -rtlc_advisor_options "-hier_inst_opt $WORKAREA/verif/fpga/vps_dvb/build_input_dir/hier_inst_opt.list"

#Added for FGT
rtlc -no_flatten_mod cce_rtl_lib_wo_visa.tme_aom

#WA - Flag from Mentor to finish rtlc without .hex files for memories 
rtlc -relax_meminit_file_check

#WA - from Mentor to finish rtlc with ioc_rtl_ib 
rtlc -no_res_share_for_mod wrcwrtrkmodule


veanalyze -suppress 2441
# To reduce control sets
#rtlc -red_dissolve_flop_enable   
#rtlc -red_dissolve_enable_limit 4

# Reduce local congestion by limiting LUT6... could increase area
#rtlc -no_lut6_for_mod ccf_rtl_lib_ip747srmbrlv2048x68m4k2r4

# Per Mentor R&D feedback, listing every mapped library in the order specified within
# the competetive environment should ensure consistent elaboration
# rtlc -L lib1
# rtlc -L lib2

rtlc -mem_attribs_file $WORKAREA/verif/fpga/vps_dvb/build_input_dir/mem.att

#added for media mem issue 
rtlc -inc_vle_mem_limit
rtlc -rtlc_mem_scaling_factor 6
rtlc -compile_udps
#If some module taking more time in rtlc use below options
#rtlc -pri_comp_time_for_mod lscfe_mf_ctrl
rtlc -max_loop_cnt 50000
#To run the tie_nets from condition stage 
#rtlc -optmode
comp -permissive
comp -vcs_compat
