#
# Red veloce configuration file:
# veloce config switches and variables, needed for
# HVL, ANALYSIS and RTLC, can be added in this file.
#

#
# Common testbench inclusion
#
hvl -64bit_runtime
hvl -cflags  "-fPIC"
hvl -ldflags "-L$TARGET_DIR/lib"
hvl -ldflags "-Xlinker -rpath -Xlinker $TARGET_DIR/lib"
hvl -ldflags "-lemubuildtb"

#
# RTLC directives can be added here
#


#
# Testbench fields for vendor compilation can be added here.
#
